<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>My Offers</ion-title>
        <ion-buttons slot="primary">
            <ion-button routerLink="/places/tabs/offers/new">
                <ion-icon name="add" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row *ngIf="!offers || offers.length <=0">
            <ion-col size-md="6" offset-md="3" class="ion-text-center">
                <p>No Offers Currently! Come back later. </p>
                <ion-button color="primary" routerLink="/places/tabs/offers/new">Offer New Place</ion-button>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-md="6" offset-md="3">
                <ion-list>
                    <ion-item-sliding *ngFor="let offer of offers" #itemSliding>
                        <app-offer-item [offer]="offer"></app-offer-item>
                        <ion-item-options side="end" *ngIf="offer.userId === userId">
                            <ion-item-option color="secondary" (click)="onEditOffer(offer.id, itemSliding)">
                                <ion-icon slot="icon-only" name="create"></ion-icon>
                            </ion-item-option>
                            <ion-item-option color="danger" (click)="onDeleteOffer(offer.id, itemSliding)">
                                <ion-icon slot="icon-only" name="trash"></ion-icon>
                            </ion-item-option>
                        </ion-item-options>
                    </ion-item-sliding>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
